[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "~=2.4.1"
torchaudio = "~=2.4.1"
torchvision = "~=0.19.1"
numpy = "~=2.1.2"
pillow = "~=10.4.0"
scipy = "~=1.14.1"

[dev-packages]

[requires]
python_version = "3.12"
